<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Postage Cost</title>
</head>
<body>
    <h3>A <%= type %> at <%= weight %>oz.<%= zone %> will cost $<%= cost %></h3>
</body>
</html>